@model Squish.DATA.EF.Models.SquishInformation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SquishInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SquishId" class="control-label"></label>
                <input asp-for="SquishId" class="form-control" />
                <span asp-validation-for="SquishId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Squishname" class="control-label"></label>
                <input asp-for="Squishname" class="form-control" />
                <span asp-validation-for="Squishname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seasonalid" class="control-label"></label>
                <input asp-for="Seasonalid" class="form-control" />
                <span asp-validation-for="Seasonalid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquishSize" class="control-label"></label>
                <input asp-for="SquishSize" class="form-control" />
                <span asp-validation-for="SquishSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquishColor" class="control-label"></label>
                <input asp-for="SquishColor" class="form-control" />
                <span asp-validation-for="SquishColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
