@{
    ViewData["Title"] = "Home";
}


<body>
	<!-- hero area -->
	
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Cute and Squishable</p>
							<h1>Squishmallows at GREAT PRICE!</h1>
							<div class="hero-btns">
								<a href=@Url.Action("Index","SquishInformations") class="boxed-btn">Find your squish here!</a>
								<a href=@Url.Action("Contact","Home") class="bordered-btn">Ordering Specific? Contact Us!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Hand-Selected Squish</h3>
						<p>These squish below are our teams favorite!</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/SquishPics/Oliver.jpg" alt=""></a>
						</div>
						<h3>Oliver</h3>
						<p class="product-price"><span>Price Depending on Size!</span></p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="~/assets/img/SquishPics/Avery.jpeg" alt=""></a>
						</div>
						<h3>Avery</h3>
						<p class="product-price"><span>Price Depending on Size!</span></p>
						 <a asp-action="AddToCart" asp-controller="ShoppingCart" class="option2">
                                        Add To Cart
                                    </a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/SquishPics/Emily.jpg" alt=""></a>
						</div>
						<h3>Emily</h3>
						<p class="product-price"><span>Price Depending on Size!</span></p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> off Seasonal Squish!
                                </span>
                            </div>
                        </div>
                    	<img src="assets/img/SquishPics/Halloween Squish.jpg" alt="Halloween Squishmallow Exclusives">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="pink-text"/>This months Season: Halloween!<span/></h3>
                    <h4>For a limited time only!</h4>
                    <div class="text">Our Halloween squish will be available until November 2nd! Get your squish now, before they're gone!</div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Patricia Feelgood<span>Squish-aficionado</span></h3>
								<p class="testimonial-body">
									"These Squishmallows are top quality! The prices here are unbeatable!"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>John "The Squish-Aholic" Stinky<span>Fellow Squish Collector</span></h3>
								<p class="testimonial-body">
									"What can I say other than "WOW!". The customer service for this site is beyond amazing, and their selection is top-notch. Thank you Sea of Squishmallows!"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Squish Squishington<span>The Human Squish</span></h3>
								<p class="testimonial-body">
									"I've bought so many Squishmallows from this site, my wife is leaving me!"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=34Ig3X59_qA&ab_channel=DopeLyrics" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since 2020, during the pandemic</p>
						<h2>We are <span class="orange-text">Sea of Squishmallows!</span></h2>
						<p>Proud to bring you Squishmallows that are NEVER bootleg!</p>
						<p>Our prices will never be beat, that's our guarentee!</p>
						<a href="@Url.Action("About","Home")"class="boxed-btn mt-4">Learn more!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3>Get your Squish on! <br> With big <span class="pink-text">Savings...</span></h3>
            <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
            <a href="shop.html" class="cart-btn btn-lg">Shop Now</a>
        </div>
    </section>
	<!-- end shop banner -->

	

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/SquishPics/Doxl.jpg" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/SquishPics/Cute Dog.jpg" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/SquishPics/Fries.jpg" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/SquishPics/Demir.jpg" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/SquishPics/Stump.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	


</body>
